body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #efe4e4, #91918e);
  /*background-image: url('/public/joliparc.png');*/
  margin: 0;
  height: 100vh;
  background-size: cover;
  padding: 20px;
  padding-top: 60px;
}

.login-container {
  background: #D3D3D3;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 20px 0;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
